[submodule "SwarmNet"]
	path = SwarmNet
	url = https://github.com/tgodfrey0/SwarmNet.git
	branch = main
[submodule "llm_ros_controller_ws/src/llm_controller/llm_controller/SwarmNet"]
	path = llm_ros_controller_ws/src/llm_controller/llm_controller/SwarmNet
	url = git@github.com:tgodfrey0/SwarmNet.git
